/*
* RESET
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0;
	margin:0;
}

body {
	font: 12px 'Arial', sans-serif;
}

/*
* TAGS HTML
*/
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}

p {
	margin: 5px 0;
}

pre {
	text-align: left;
	border: 1px solid #BBB;
	margin: 10px 0;
	padding: 10px 0;
	white-space: pre-wrap;
}

ul {
	padding-left: 16px;
}


.wrapper {

}

/*
* HEADER
*/
.header {
	padding: 25px 0;
	background: #FDD900;
	text-align: center;
}

/*
* MENU
*/
.menu {
	width: 20%;
	float: left;
	background: #EEE;
}
.menu ul li {
	width: 100%;
	list-style: none;
	padding-left: 0;
}
.menu ul li a {
	padding: 10px;
	display: block;
}
.menu ul li a:hover{
	background:#DDD;
}

/*
* Content
*/
.content {
	width: 80%;
	float: left;
	padding: 20px;
}
.content .steps {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DDD;
}
.content .steps:after {
	content: '';
	width:0;
	height:0;
	display: block;
	clear:both;
}

/*
* Colors Patterns
*/
.color_step h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	color:#353535;
}
.colors_patterns li {
	float: left;
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border: solid 1px #ccc;
	list-style: none;
}
.colors_patterns li:first-child {
	margin-left: 0;
}
.colors_patterns li:last-child {
	margin-right: 0;
}
.colors_patterns:after {
	content: '';
	width:0;
	height:0;
	display: block;
	clear:both;
}
.colors_patterns li .color_box {
	width: 88px;
	height: 88px;
	border: solid 1px #e1e1e1;
}
.colors_patterns li p {
	padding: 5px 0 0;
	font-weight: bold;
}